/* 
Purple: #6C4ACF (used for headers, buttons, and backgrounds)
Dark Blue: #23223A (used for footer and some background sections)
White: #FFFFFF (main background and text)
Light Gray: #F5F5F5 (backgrounds and section separators)
Black: #000000 (text and icons)
Accent Blue: #3B4CA6 (links and highlights)
*/


:root {
    --clr-purple: #6C4ACF;
    --clr-dark-blue: #23223A;
    --clr-white: #FFFFFF;
    --clr-light-gray: gray;
    --clr-black: #000000;
    --clr-accent-blue: #3B4CA6;
}

.maxedContent {
    display: block;
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    background-color: var(--clr-white);
    box-shadow: 0 4px 12px 0 rgba(35, 34, 58, 0.15);
    position: sticky;
    top: 0px;
    z-index: 100;
}

.header .content {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menuBtn {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}

.header .nav {
    display: none;
}

.header .nav.open {
    background-color: var(--clr-white);
    box-shadow: 0 4px 12px 0 rgba(35, 34, 58, 0.15);
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    padding: 1rem;
}

.header .nav .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.header .nav .link {
    text-decoration: none;
    color: var(--clr-black);
    font-weight: bold;
    transition: color 300ms ease-in-out;
}

.header .nav .link.btn {
    background-color: var(--clr-purple);
    padding: 0.625rem 1.5rem;
    color: var(--clr-white);
    border-radius: 0.75rem;
    transition: all 300ms ease-in-out;
}



@media (hover:hover) {
    .header .nav .link:hover {
        color: var(--clr-purple)
    }

    .header .nav .link.btn:hover {
        color: var(--clr-white);
        background-color: var(--clr-dark-blue);
    }
}


@media (min-width: 1120px) {

    .header .nav,
    .header .nav.open {
        width: auto;
        display: block;
        position: unset;
        box-shadow: none;
    }

    .header .menuBtn {
        display: none;
    }

    .header .nav .list {
        flex-direction: row;

    }
}


.hero {
    overflow: hidden;
}

.hero .content {
    padding: 3rem 1rem;
}

.hero .img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto 2rem;
}

.hero .info {
    max-width: 500px;
    margin: 0 auto;
}

.hero .info .title {
    margin-bottom: 2rem;
    text-align: center;
}

.hero .info .desc {
    margin-bottom: 1rem;
}

.hero .info .note {
    font-size: 0.75rem;
    font-style: italic;
    color: var(--clr-light-gray);
}

.hero .info .note:last-child {
    margin-top: 0.5rem;
}

.circleEffect {
    display: none;
}

@media (min-width:768px) {
    .hero .content {
        position: relative;
        padding: 3rem 2rem;
        display: flex;
        align-items: start;
        gap: 2rem;
    }

    .hero .imgWrapper {
        width: 300px;
        order: 1;
        flex-shrink: 0;
        position: relative;
    }

    .hero .imgWrapper .img {
        margin: unset;
        max-width: unset;
    }

    .hero .info {
        flex-grow: 1;
        margin: unset;
        max-width: unset;
    }

    .hero .info .title {
        text-align: left;
    }

    .circleEffect {
        display: block;
        width: 100%;
        aspect-ratio: 1 / 1;
        background-color: var(--clr-purple);
        border-radius: 100%;
        position: absolute;
        bottom: 10%;
        right: -25%;
        z-index: -1;
    }

    .circleEffect .icon {
        font-size: 5rem;
        width: 40%;
        position: absolute;
        bottom: 15%;
        right: 20%;
    }
}

@media (min-width:1024px) {
    .hero {
        padding: 3rem 4rem;
        align-items: center;
    }

    .hero .imgWrapper {
        width: 500px;
    }

    .circleEffect .icon {
        width: 50%;
        bottom: 15%;
        right: 20%;
    }
}


.genericSection .content {
    padding: 3rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.genericSection .info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.genericSection .img {
    width: 100%;
    max-width: 400px;
}

.genericSection.cpe {
    color: var(--clr-white);
    background-color: var(--clr-dark-blue);
}

@media (min-width:768px) {
    .genericSection .content {
        padding: 3rem 2rem;
    }
}

@media (min-width:1024px) {

    .genericSection.inverted .info {
        order: 1;
    }

    .genericSection .content {
        padding: 3rem 4rem;
        flex-direction: row;
        text-align: left;
    }

    .genericSection.cpe .img{
        position: relative;
        bottom: -80px;
    }
}