ul {
    list-style: none;
}

.header {
    padding: 6px 30px;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
}

.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 900px;
    /* flex-grow: 1; */
    /* flex-basis: 100%; */
    width: 100%;
}

.header .logo {
    width: 50px;
    flex-shrink: 0;
}


.header .navigation {

    display: flex;
    gap: 10px;
}


.goldenLayout {
    display: flex;
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
}

.sidebar {
    background-color: lightcoral;
    padding: 10px;
    flex: 0 0 150px;
}

.sidebar .title {
    font-size: 1rem;
}

.sidebar .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heroSection {
    background-color: lightgreen;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.heroSection .wrapper {
    max-width: 500px;
    text-align: center;
}

.btnGroup {
    max-width: 900px;
    margin: 30px auto;
    padding: 10px 30px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btnGroup .save{
    margin-left: auto;
}

.imgGrid{
    max-width: 900px;
    margin: 30px auto;
    background-color: lightgray;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.imgGrid .image{
    width: calc((100% - (12px * 3)) / 4);
}